@import "partials/header.css";
@import "partials/footer.css";
@import "partials/home.css";
@import "partials/shop.css";
@import "partials/product-detail.css";
@import "partials/cart.css";

:root{
  --background-color: rgb(255,227,197);
  --header_footer: #6B4C3B; 
  --title: font-family: "Galindo", sans-serif;
  --text: 
}

body{
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  background-color: rgb(255, 227, 197);
}

*{
  box-sizing: border-box;
}

h1{
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Galindo", sans-serif;
}